# День 01 – Чистка данных I

Сегодня вы начинаете заниматься важным процессом – очистки данных. Это может быть иногда нудно и скучно, но это приходиться делать. Потому что иначе никакого анализа данных не получится. Точнее он будет максимально бесполезным, а может быть даже и вредным.

## 0. Импорт библиотек

In [ ]:
import pandas as pd
import numpy as np

## 1. Загрузка данных

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/School21/day01/bank_data_train.csv') 
df.head()

       ID  CR_PROD_CNT_IL  ...  LDEAL_ACT_DAYS_PCT_CURR  TARGET
0  146841               0  ...                      NaN       0
1  146842               0  ...                      NaN       0
2  146843               0  ...                      NaN       0
3  146844               0  ...                      NaN       0
4  146845               0  ...                      NaN       0

[5 rows x 116 columns]

## 2. Полезные команды

Ниже мы покажем несколько полезных команд, которые вам могут пригодиться для выполнения сегодняшнего задания.

Напомним, что вы находитесь на этапе очистки данных, и сегодня вам нужно значения текстовых полей привести к единообразию. То есть слова, написанные немного по-разному, привести к одному варианту их написания.

1. Ниже команда, которая поможет вам выявить, какие же поля являются текстовыми.

In [ ]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355190 entries, 0 to 355189
Data columns (total 116 columns):
 #   Column                       Dtype
---  ------                       -----
 0   ID                           int64
 1   CR_PROD_CNT_IL               int64
 2   AMOUNT_RUB_CLO_PRC           float64
 3   PRC_ACCEPTS_A_EMAIL_LINK     float64
 4   APP_REGISTR_RGN_CODE         float64
 5   PRC_ACCEPTS_A_POS            float64
 6   PRC_ACCEPTS_A_TK             float64
 7   TURNOVER_DYNAMIC_IL_1M       float64
 8   CNT_TRAN_AUT_TENDENCY1M      float64
 9   SUM_TRAN_AUT_TENDENCY1M      float64
 10  AMOUNT_RUB_SUP_PRC           float64
 11  PRC_ACCEPTS_A_AMOBILE        float64
 12  SUM_TRAN_AUT_TENDENCY3M      float64
 13  CLNT_TRUST_RELATION          object
 14  PRC_ACCEPTS_TK               float64
 15  PRC_ACCEPTS_A_MTP            float64
 16  REST_DYNAMIC_FDEP_1M         float64
 17  CNT_TRAN_AUT_TENDENCY3M      float64
 18  CNT_ACCEPTS_TK               float64
 19  APP_MARITAL_STATUS           object
 20  REST_DYNAMIC_SAVE_3M         float64
 21  CR_PROD_CNT_VCU              int64
 22  REST_AVG_CUR                 float64
 23  CNT_TRAN_MED_TENDENCY1M      float64
 24  APP_KIND_OF_PROP_HABITATION  object
 25  CLNT_JOB_POSITION_TYPE       object
 26  AMOUNT_RUB_NAS_PRC           float64
 27  CLNT_JOB_POSITION            object
 28  APP_DRIVING_LICENSE          object
 29  TRANS_COUNT_SUP_PRC          float64
 30  APP_EDUCATION                object
 31  CNT_TRAN_CLO_TENDENCY1M      float64
 32  SUM_TRAN_MED_TENDENCY1M      float64
 33  PRC_ACCEPTS_A_ATM            float64
 34  PRC_ACCEPTS_MTP              float64
 35  TRANS_COUNT_NAS_PRC          float64
 36  APP_TRAVEL_PASS              object
 37  CNT_ACCEPTS_MTP              float64
 38  CR_PROD_CNT_TOVR             int64
 39  APP_CAR                      object
 40  CR_PROD_CNT_PIL              int64
 41  SUM_TRAN_CLO_TENDENCY1M      float64
 42  APP_POSITION_TYPE            object
 43  TURNOVER_CC                  float64
 44  TRANS_COUNT_ATM_PRC          float64
 45  AMOUNT_RUB_ATM_PRC           float64
 46  TURNOVER_PAYM                float64
 47  AGE                          int64
 48  CNT_TRAN_MED_TENDENCY3M      float64
 49  CR_PROD_CNT_CC               int64
 50  SUM_TRAN_MED_TENDENCY3M      float64
 51  REST_DYNAMIC_FDEP_3M         float64
 52  REST_DYNAMIC_IL_1M           float64
 53  APP_EMP_TYPE                 object
 54  SUM_TRAN_CLO_TENDENCY3M      float64
 55  LDEAL_TENOR_MAX              float64
 56  LDEAL_YQZ_CHRG               float64
 57  CR_PROD_CNT_CCFP             int64
 58  DEAL_YQZ_IR_MAX              float64
 59  LDEAL_YQZ_COM                float64
 60  DEAL_YQZ_IR_MIN              float64
 61  CNT_TRAN_CLO_TENDENCY3M      float64
 62  REST_DYNAMIC_CUR_1M          float64
 63  REST_AVG_PAYM                float64
 64  LDEAL_TENOR_MIN              float64
 65  LDEAL_AMT_MONTH              float64
 66  APP_COMP_TYPE                object
 67  LDEAL_GRACE_DAYS_PCT_MED     float64
 68  REST_DYNAMIC_CUR_3M          float64
 69  CNT_TRAN_SUP_TENDENCY3M      float64
 70  TURNOVER_DYNAMIC_CUR_1M      float64
 71  REST_DYNAMIC_PAYM_3M         float64
 72  SUM_TRAN_SUP_TENDENCY3M      float64
 73  REST_DYNAMIC_IL_3M           float64
 74  CNT_TRAN_ATM_TENDENCY3M      float64
 75  CNT_TRAN_ATM_TENDENCY1M      float64
 76  TURNOVER_DYNAMIC_IL_3M       float64
 77  SUM_TRAN_ATM_TENDENCY3M      float64
 78  DEAL_GRACE_DAYS_ACC_S1X1     float64
 79  AVG_PCT_MONTH_TO_PCLOSE      float64
 80  DEAL_YWZ_IR_MIN              float64
 81  SUM_TRAN_SUP_TENDENCY1M      float64
 82  DEAL_YWZ_IR_MAX              float64
 83  SUM_TRAN_ATM_TENDENCY1M      float64
 84  REST_DYNAMIC_PAYM_1M         float64
 85  CNT_TRAN_SUP_TENDENCY1M      float64
 86  DEAL_GRACE_DAYS_ACC_AVG      float64
 87  TURNOVER_DYNAMIC_CUR_3M      float64
 88  PACK                         object
 89  MAX_PCLOSE_DATE              float64
 90  LDEAL_YQZ_PC                 float64
 91  CLNT_SETUP_TENOR             float64
 92  DEAL_GRACE_DAYS_ACC_MAX      float64
 93  TURNOVER_DYNAMIC_PAYM_3M     float64
 94  LDEAL_DELINQ_PER_MAXYQZ      float64
 95  TURNOVER_DYNAMIC_PAYM_1M     float64
 96  CLNT_SALARY_VALUE            float64
 97  TRANS_AMOUNT_TENDENCY3M      float64
 98  MED_DEBT_PRC_YQZ             float64
 99  TRANS_CNT_TENDENCY3M         float64
 100 LDEAL_USED_AMT_AVG_YQZ       float64
 101 REST_DYNAMIC_CC_1M           float64
 102 LDEAL_USED_AMT_AVG_YWZ       float64
 103 TURNOVER_DYNAMIC_CC_1M       float64
 104 AVG_PCT_DEBT_TO_DEAL_AMT     float64
 105 LDEAL_ACT_DAYS_ACC_PCT_AVG   float64
 106 REST_DYNAMIC_CC_3M           float64
 107 MED_DEBT_PRC_YWZ             float64
 108 LDEAL_ACT_DAYS_PCT_TR3       float64
 109 LDEAL_ACT_DAYS_PCT_AAVG      float64
 110 LDEAL_DELINQ_PER_MAXYWZ      float64
 111 TURNOVER_DYNAMIC_CC_3M       float64
 112 LDEAL_ACT_DAYS_PCT_TR        float64
 113 LDEAL_ACT_DAYS_PCT_TR4       float64
 114 LDEAL_ACT_DAYS_PCT_CURR      float64
 115 TARGET                       int64
dtypes: float64(94), int64(9), object(13)
memory usage: 314.3+ MB

2. Команда, позволяющая посмотреть **список уникальных значений** в столбце:

In [ ]:
df.APP_COMP_TYPE.unique()

array([nan, 'PRIVATE', 'STATE', 'IP', 'INTER'], dtype=object)

Она же, только представленная **в виде списка**. Бывает полезной, когда уникальных значений слишком много и в предыдущем варианте показываются не все из них. Плюс результат не содержит всякой лишней информации.

In [ ]:
list(df.APP_COMP_TYPE.unique())

[nan, 'PRIVATE', 'STATE', 'IP', 'INTER']

3. Команда, которая позволяет привести все значения признака в **нижний регистр**:

In [ ]:
df.APP_COMP_TYPE = df.APP_COMP_TYPE.str.lower() #недостаточно просто применить метод lower к столбцу, нужно как бы его перезаписать

In [ ]:
list(df.APP_COMP_TYPE.unique())

[nan, 'private', 'state', 'ip', 'inter']

4. Команда, которая позволяет **заменить значения в столбце** на другие значения:

In [ ]:
df.APP_COMP_TYPE.replace('state','гос',inplace=True)

In [ ]:
list(df.APP_COMP_TYPE.unique())

[nan, 'private', 'гос', 'ip', 'inter']

5. Команда, которая позволяет **отсортировать** значения в списке (может пригодиться, чтобы посмотреть на длинный список):

In [ ]:
list(df.APP_COMP_TYPE.unique()).sort()

TypeError: ignored

Пишет ошибку, потому что в списке есть nan – специальный тип данных, обозначающий пустое значение. По этой причине не может отсортировать список: все значения текстовые, а одно значение nan. Нужно этот nan удалить из списка уникальных значений, чтобы не мешался. Не будем вдаваться в подробности, почему ниже команда выглядит именно так. Она приводит нас к результату.

In [ ]:
spisok = [x for x in list(df.APP_COMP_TYPE.unique()) if x == x]
spisok.sort()
spisok

['inter', 'ip', 'private', 'гос']

6. Команда, которая помогает **удалить из текстового поля числовые значения**, короткие значения, значения, где есть знаки препинания.

In [ ]:
df.APP_COMP_TYPE.where(df.APP_COMP_TYPE.str.replace(' ','').str.isalpha(), np.nan, inplace=True)

In [ ]:
list(df.APP_COMP_TYPE.unique())

[nan, 'private', 'гос', 'ip', 'inter']

7. Если вам не хватает команд, представленных в этом ноутбуке, то вы можете **самостоятельно воспользоваться поиском в Google**.

"pandas how to save a csv-file with header"


"pandas how to compare values of two columns"

## 3. Самостоятельная часть

Ниже вам нужно самим почистить датасет в части текстовых полей.